<div class="row">
  <div class="nav-container">
    <div class="nav-logo">
      Notes
    </div>
    <nav>
      <ul class="nav-main">
        <span>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Home
            </a>
          </li>
        </span>
        <span>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Logout
            </a>
          </li>
        </span>
      </ul>
    </nav>
  </div>
</div>
<div class="row">
  <app-notes></app-notes>
</div>
